<ion-view title="Emergency Numbers" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="emergencyNumbers-heading3" style="color:#000000;text-align:center;">CALL FOR HELP!!</h3>
    <div>
      <img src="img/Rbv9PgcdR3mhD36V6Y7g_emergency.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <br>
    <ion-list id="emergencyNumbers-list5">
      <ion-item class="item-thumbnail-left dark" id="emergencyNumbers-list-item15">
        <img src="img/uWHm6WrmSoq8B8ZFU8rx_policeman_318-9921.jpg">
        <h2dark>Police
          <p>911</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="emergencyNumbers-list-item16">
        <img src="img/TDJ87R49SHeMTpynf6Dq_doctor.png">
        <h2>Ambulance</h2>
        <p>911</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="emergencyNumbers-list-item17">
        <img src="img/lhYwKAdwQgqQ3R9TpkWt_fireman.jpg">
        <h2>Fire</h2>
        <p>911</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>