<html>
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<ion-view title="Emergency Numbers" id="page2">
<link rel="stylesheet" type="text/css" href="../lib/ionic/css/ionic.css">
  <ion-content padding="true" class="has-header">
    <h3 id="emergencyNumbers-heading3" style="color:#000000;text-align:center;">CALL FOR HELP!!</h3>
    <div>
      <img src="../img/Rbv9PgcdR3mhD36V6Y7g_emergency.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <br>
    <ion-list id="emergencyNumbers-list5">
      <ion-item class="item-thumbnail-left dark" id="emergencyNumbers-list-item15">
        <img src="../img/uWHm6WrmSoq8B8ZFU8rx_policeman_318-9921.jpg">
        <h2>Police</h2>
          <p>911</p>
        
      </ion-item>
      <ion-item class="item-thumbnail-left" id="emergencyNumbers-list-item16">
        <img src="../img/TDJ87R49SHeMTpynf6Dq_doctor.png">
        <h2>Ambulance</h2>
        <p>911</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="emergencyNumbers-list-item17">
        <img src="../img/lhYwKAdwQgqQ3R9TpkWt_fireman.jpg">
        <h2>Fire</h2>
        <p>911</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
   <div class="tabs tabs-icon-top">
  <a class="tab-item" href="home.html" id = "home">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item" id = "emergency" href = "emergencyNumbers.html">
    <i class="icon ion-android-call"></i>
    Emergency
  </a>
  <a class="tab-item" id = "pharmacy" href = "pharmacies.html">
    <i class="icon ion-map"></i>
    Pharmacy
  </a>
  <a class="tab-item" id = "symptoms" href="symptoms.html">
    <i class="icon ion-ios-medical"></i>
    Medicines
  </a>
</div>
</ion-view>
</html>