
<html>
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<ion-view title="Home" id="page5">
<link rel="stylesheet" type="text/css" href="../lib/ionic/css/ionic.css">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="../img/PMMTqVUHSI6GX7HM3nNC_MEDICINAPP.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="home-heading1" style="color:#000000;text-align:center;">Making your illness fly away.</h3>
    <form id="home-form1" class="list">
      <label class="item item-select" id="home-select1">
        <span class="input-label">Country</span>
        <select>
          <option>México</option>
          <option>Germany</option>
        </select>
      </label>
    </form>
    <br>
    <form id="home-form2" class="list">
      <label class="item item-select" id="home-select3">
        <span class="input-label">City</span>
        <select>
          <option>Chihuahua</option>
          <option>Berlin</option>
        </select>
      </label>
    </form>
    <div class="tabs tabs-icon-top">
  <a class="tab-item" href="home.html" id = "home">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item" id = "emergency" href = "emergencyNumbers.html">
    <i class="icon ion-android-call"></i>
    Emergency
  </a>
  <a class="tab-item" id = "pharmacy" href = "pharmacies.html">
    <i class="icon ion-map"></i>
    Pharmacy
  </a>
  <a class="tab-item" id = "symptoms" href="symptoms.html">
    <i class="icon ion-ios-medical"></i>
    Medicines
  </a>
</div>
  </ion-content>


<html/>