<ion-view title="Medicines" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="medicines-form4" class="list">
      <label class="item item-input" id="medicines-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="medicines-list6">
      <ion-item id="medicines-list-item26">Hedache</ion-item>
      <ion-item id="medicines-list-item27">Stomache</ion-item>
      <ion-item id="medicines-list-item28">Sore throat</ion-item>
    </ion-list>
  </ion-content>
</ion-view>