<ion-view title="Medicine" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="medicine-list7">
      <ion-item class="item-thumbnail-left" id="medicine-list-item29">
        <img src="img/58AoM0s7SpmC7aoWRJnl_medicine2.png">
        <h2>Paracetamol</h2>
        <p>50 mg blah blah</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="medicine-list-item30">
        <img src="img/yLjnsbe5T3y62Bj5fn7U_medicine2.png">
        <h2>Ibuprofeno</h2>
        <p>50 mg blah blah</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="medicine-list-item31">
        <img src="img/nwFr4FMxRdmEu2OOzQ65_medicine2.png">
        <h2>Ketorolaco</h2>
        <p>50 mg blah blah</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>