
<html>
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<ion-view title="Medicines" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="medicines-form4" class="list">
    <link rel="stylesheet" type="text/css" href="../lib/ionic/css/ionic.css">
      <label class="item item-input" id="medicines-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="medicines-list6">
      <ion-item id="medicines-list-item26">Hedache</ion-item>
      <ion-item id="medicines-list-item27">Stomache</ion-item>
      <ion-item id="medicines-list-item28">Sore throat</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-android-home" href="#/page1/home" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Emergency" icon="ion-android-call" href="#/page1/emergencynumbers" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Pharmacy" icon="ion-map" href="#/page1/pharmaciesmap" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Medicines" icon="ion-ios-medical" href="#/page1/medicines" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
   <div class="tabs tabs-icon-top">
  <a class="tab-item" href="home.html" id = "home">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item" id = "emergency" href = "emergencyNumbers.html">
    <i class="icon ion-android-call"></i>
    Emergency
  </a>
  <a class="tab-item" id = "pharmacy" href = "pharmacies.html">
    <i class="icon ion-map"></i>
    Pharmacy
  </a>
  <a class="tab-item" id = "symptoms" href="symptoms.html">
    <i class="icon ion-ios-medical"></i>
    Medicines
  </a>
</div>
</ion-view>
</html>